body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

label {
    font-weight: bold;   
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#data-input {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
    font-weight: bold;
}

#chart {
    margin-top: 20px;
}

#update-data{
    background-color: #58c2dd;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
}

.bar {
    fill: steelblue;
}

.input-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.input-section label {
    font-weight: bold;
    margin-right: 10px;
}

.input-section input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

.input-section button {
    background-color: #29a3ef;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}